<div class="container">
    <h2>Orders</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Cycle</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th>Order Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders" (click)="onSelectOrder(order)">
          <td>{{ order.id }}</td>
          <td>{{ order.cycle.brand }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.totalPrice }}</td>
          <td>{{ order.orderDate }}</td>
          <td>
            <span *ngIf="order.returned" class="badge bg-success">Returned</span>
            <span *ngIf="!order.returned" class="badge bg-warning">Not Returned</span>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<div *ngIf="selectedOrder" class="container mt-3">
    <h3>Selected Order Details</h3>
    <ul class="list-group">
      <li class="list-group-item"><strong>Order ID:</strong> {{ selectedOrder.id }}</li>
      <li class="list-group-item"><strong>Cycle:</strong> {{ selectedOrder.cycle.brand }}</li>
      <li class="list-group-item"><strong>Quantity:</strong> {{ selectedOrder.quantity }}</li>
      <li class="list-group-item"><strong>Total Price:</strong> {{ selectedOrder.totalPrice }}</li>
      <li class="list-group-item"><strong>Order Date:</strong> {{ selectedOrder.orderDate | date: 'short' }}</li>
      <li class="list-group-item">
          <strong>Remaining Balance:</strong> {{ calculateRemainingBalance(selectedOrder) }}
          <button class="btn btn-primary" (click)="returnOrder(selectedOrder)">Pay</button>
      </li>
    </ul> 
 </div>
