
<h1>Welcome {{username}}</h1>
  <h1>{{title}}</h1>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Brand</th>
      <th>Stock</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cycle of cycles">
      <td>{{cycle.brand}}</td>
      <td>{{cycle.stock - cycle.numBorrowed}}</td>
      <td>
        <form method="post">
          <div class="input-group">
            <input type="text" name="borrownumber" #Number class="form-control" style="width: 80px; margin-right: 20px;">
            <div class="input-group-append">
              <!-- <button class="btn btn-primary" type="button" (click)="onBorrow(cycle.id, Number.value)">Borrow</button>
              <button class="btn btn-success" type="button" (click)="onRestock(cycle.id, Number.value)">Restock</button>
              <button class="btn btn-warning" type="button" (click)="onReturn(cycle.id, Number.value)">Return</button> -->
              <button class="btn btn-info" type="button" (click)="onRent(cycle.id, Number.value)">Rent</button>
            </div>
          </div>
        </form>
      </td>
    </tr>
  </tbody>
</table>
<button (click)="setToken()">AddToken</button>
